html, body, h1, h2, h3, h4, h5, h6, p, a, b, u, i {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

body {
	line-height: 1;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: justify;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  padding: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 5%;
	text-align:center;
}

h6 {
  font-size: 1rem;
  padding: 0rem;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 0%;
	line-height: 0%;
	text-align:center;
}

hr {
  border: 5px solid white;
  border-radius: 5px;
}

body {
  padding: 0px;
  margin: 0px;
  color: #010101;
}

#gradient {
  background: linear-gradient(-45deg,
    #E3F2FD, /* Lavender Blush */
    #CCFFFF, /* Pale Cyan */
    #FFF8DC, /* Cornsilk */
    #FFFAF0, /* Ivory */
    #FFEBE6, /* Peach Puff */
    #FFFFCC, /* Light Yellow */
    #FAFFD1, /* Lemon Chiffon */
    #FFEBCD, /* Blanched Almond */
    #D4FFD4, /* Light Green */
    #F0F8FF, /* Alice Blue */
    white);
  animation: Gradient 100s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 100%
	}
	100% {
		background-position: 50% 0%
  }
}

a {
  color: #002486;
  text-decoration: silver solid underline;
}

a:hover {
  color: black;
  background-color: white;
  transition: .5s;
	opacity: 0.5;
}

p {
  font-size: 1.4rem;
  padding-top: 1rem;
  padding: 1rem;
  line-height: 1.7rem;
  margin-left: 5%;
  margin-right: 5%;
	text-align:center;
}

#gradient
{
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
